body {
  font-family:
    "Inter",
    system-ui,
    -apple-system,
    sans-serif,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue";

  background: rgb(var(--v-theme-background));
}

a {
  transition: 0.2s;
  opacity: 0.8;
  text-decoration: none;

  &:visited,
  &:focus,
  &:active {
    text-decoration: none;
  }

  &:hover {
    transition: 0.2s;
    opacity: 1;
  }
}

@mixin typography($font-size) {
  font-size: $font-size;
  line-height: $font-size * 1.5;
}

span,
p {
  @include typography(14px);
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6,
.v-toolbar-title {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  margin-block: 0.5em;
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 16px;
}

h6 {
  font-size: 14px;
}

.cursor-pointer {
  cursor: pointer;
}

.v-messages__message {
  text-align: left;
}

.v-toolbar {
  box-shadow: 0px 1px 20px 0px var(--v-theme-surface) !important;

  .v-toolbar__content {
    .v-toolbar-title {
      margin-inline-end: 16px;
    }

    .v-img {
      cursor: pointer !important;
    }

    a {
      color: rgb(var(--v-theme-text)) !important;
      text-decoration: none;
    }
  }
}

.reverse-label {
  .v-selection-control {
    display: flex;
    flex-direction: row-reverse;
    justify-content: start;
  }

  .v-selection-control__wrapper {
    margin-left: 8px;
  }
}

.v-chip__content {
  overflow: hidden;
}

.color-error {
  color: rgb(var(--v-theme-error));
}
