body {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  background: rgb(var(--v-theme-background));
}

a {
  transition: 0.2s;
  opacity: 0.8;
  text-decoration: none;

  &:visited,
  &:focus,
  &:active {
    text-decoration: none;
  }

  &:hover {
    transition: 0.2s;
    opacity: 1;
  }
}

span,
p {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
}

.cursor-pointer {
  cursor: pointer;
}

.v-messages__message {
  text-align: left;
}

.v-toolbar {
  box-shadow: 0px 1px 20px 0px var(--v-theme-surface) !important;

  .v-toolbar__content {
    .v-toolbar-title {
      margin-inline-end: 16px;
    }

    .v-img {
      cursor: pointer !important;
    }

    a {
      color: rgb(var(--v-theme-text)) !important;
      text-decoration: none;
    }
  }
}

.reverse-label {
  .v-selection-control {
    display: flex;
    flex-direction: row-reverse;
    justify-content: start;
  }

  .v-selection-control__wrapper {
    margin-left: 8px;
  }
}

.v-chip__content {
  overflow: hidden;
}
